@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-grey-5 font-bungee text-4xl;
}

h2 {
    @apply text-grey-5 font-bungee text-3xl;
}

p a {
    text-decoration: underline;
    &:hover,
    &:focus {
        text-decoration-color: rgb(250 100 0 / var(--tw-border-opacity));
    }
}

.offset-purple-button {
    transition: 0.25s;
    border-width: 3px;
    box-shadow:
      0.2em 0.2em 0 0 #660080,
      inset 0.2em 0.2em 0 0 #660080;

    &:hover,
    &:focus {
        box-shadow:
            0 0 0 0 #F9F9F9,
            inset 6em 3.5em 0 0 #F9F9F9;
    }
}

.underline_orange {
    text-decoration: underline;
    --tw-border-opacity: 1;
    &:hover,
    &:focus {
        text-decoration-color: rgb(250 100 0 / var(--tw-border-opacity));
    }
}

.offset-purple-static {
    transition: 0.25s;
    border-width: 3px;
    box-shadow:
      0.2em 0.2em 0 0 #660080,
      inset 0.2em 0.2em 0 0 #660080;
}

.offset-green {
    transition: 0.25s;
    border-width: 3px;
    box-shadow:
      0.2em 0.2em 0 0 #0d791F,
      inset 0.2em 0.2em 0 0 #0d791F;

    &:hover,
    &:focus {
        box-shadow:
            0 0 0 0 #0d791F,
            inset 6em 3.5em 0 0 #0d791F;
    }
}

.offset-green-static {
    transition: 0.25s;
    border-width: 3px;
    box-shadow:
      0.2em 0.2em 0 0 #5BAF28,
      inset 0.2em 0.2em 0 0 #5BAF28;
}

.offset-blue-button {
    transition: 0.25s;
    border-width: 3px;
    box-shadow:
      0.2em 0.2em 0 0 #0055D4,
      inset 0.2em 0.2em 0 0 #0055D4;

    &:hover,
    &:focus {
        box-shadow:
            0 0 0 0 #F9F9F9,
            inset 6em 3.5em 0 0 #F9F9F9;
    }
}

.offset-red-button {
    transition: 0.25s;
    border-width: 3px;
    box-shadow:
      0.2em 0.2em 0 0 #E31C1CFF,
      inset 0.2em 0.2em 0 0 #E31C1CFF;

    &:hover,
    &:focus {
        box-shadow:
            0 0 0 0 #F9F9F9,
            inset 6em 3.5em 0 0 #F9F9F9;
    }
}


.offset-grey-5-button {
    transition: 0.25s;
    border-width: 3px;
    box-shadow:
      0.2em 0.2em 0 0 #2B222D,
      inset 0.2em 0.2em 0 0 #2B222D;

    &:hover,
    &:focus {
        box-shadow:
            0 0 0 0 #F9F9F9,
            inset 6em 3.5em 0 0 #F9F9F9;
    }
}

input[type=text] {
    width: 100%;
}

input[type=password] {
    width: 100%;
}

input[type=email] {
    width: 100%;
}


@font-face {
    font-family: 'Bungee';
    font-style: regular;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/Bungee-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Blinker';
    font-style: regular;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/Blinker-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Blinker';
    font-style: bold;
    font-weight: 600;
    font-display: swap;
    src: url('../../fonts/Blinker-SemiBold.ttf') format('truetype');
}
