{% load i18n %}
{% load frontend %}
<div class="mx-4">
    {% if unicorn.errors %}
        {% include 'frontend/partials/error.html' %}
    {% endif %}
    {% include "frontend/partials/heading.html" with title=_("Edit ban for ") level='h2' additional_information=membership_world.player %}
    <form u:submit.prevent="validate_and_update" id="edit_ban" aria-label="{% translate "Edit ban" %} "
          {% include "frontend/partials/form_attrs.html" %}>
        {% include "frontend/partials/form_input.html" with label=_("Message") id="message" unicorn_model="message" %}
        {% include "frontend/partials/form_buttons.html" %}
    </form>
</div>
