{% load i18n %}
{% load frontend %}

<div class="mx-4">
    {% if unicorn.errors %}
        {% include 'frontend/partials/error.html' %}
    {% endif %}

    {% if is_world_banned %}
        {% include 'frontend/partials/error.html' with custom_header="Warning" custom_content="You have already banned this member from this whole world. You have to select a room to proceed. If you only want to ban the player from that particular room, you need to remove the world ban afterwards." %}
    {% endif  %}
    {% include "frontend/partials/heading.html" with title=_("Create ban for") additional_information=membership_world.player %}
    <form u:submit.prevent="validate_and_create" id="add_player" aria-label="{% translate "Create ban" %}"
          {% include "frontend/partials/form_attrs.html" %}>

        {% include "frontend/partials/form_select.html" with label=_("Room") id="room" unicorn_model="room" choices=rooms explicit_attribute_access=True user_hint=_("Only rooms with restrictive access policy selectable. Bans for rooms with \"Any player may use\" policy have no effect.") %}
        {% include "frontend/partials/form_input.html" with label=_("Message") id="message" unicorn_model="message" user_hint=_("This message will be displayed to the player.") %}
        {% include "frontend/partials/form_buttons.html" %}
    </form>
</div>
