{% load i18n %}
{% load frontend %}

{% if unicorn.errors %}
    {% include 'frontend/partials/error.html' %}
{% endif %}

{% if not world  %}
  {% include "frontend/partials/heading.html" with title=_("Edit character texture") filter_choices=None %}
{% else %}
{% include "frontend/partials/heading.html" with title=_("Edit character texture") filter_choices=None level="h2" %}
{% endif %}

<div class="flex flex-col md:flex-row gap-x-7">
  {% if url %}
    <div class="h-64 md:h-96 self-center md:self-start mb-5">
      <img src="{{url}}" class="h-full mt-5"\>
    </div>
  {% endif %}
    <form u:submit.prevent="validate_and_update" id="add_player" aria-label="{% translate "Edit character texture" %}"
        {% include "frontend/partials/form_attrs.html" %}>
      {% include "frontend/partials/form_input.html" with label=_("Name") id="name" unicorn_model="name" %}
      {% include "frontend/partials/form_input.html" with label=_("URL") id="url" unicorn_model="url" placeholder="https://my-storage.org/my-texture.png" %}
      {% include "frontend/partials/form_input.html" with label=_("ID") id="texture_id" unicorn_model="texture_id" type="number" %}
      {% include "frontend/partials/form_input.html" with label=_("Level") id="level" unicorn_model="level" type="number" %}
      {% include "frontend/partials/form_select.html" with label=_("Policy Type") id="policy_type" unicorn_model="policy_type" choices=policy_type_choices%}
      {% filterselect_widget "tags" _("Tags search") _("Tags") %}
      {% if not world %}{% filterselect_widget "worlds" _("Worlds search") _("Worlds") %}{% endif %}
      <div class="py-5">
        {% include "frontend/partials/form_input.html" with type="checkbox" label=_("Deactivated") id="is_deactivated" unicorn_model="is_deactivated" %}
      </div>
      {% include "frontend/partials/form_buttons.html" %}
    </form>
</div>
