{% load frontend %}
{% load i18n %}
{% load static %}

{% include "frontend/partials/heading.html" with title=_("Tags") button_label=_("Create Tag") button_aria_label=_("Create Tag") button_unicorn_action="show_create" %}

<table aria-label="{% translate "Tag list" %}" {% include "frontend/partials/table_attrs.html" %}>

  <thead>
    <tr {% include "frontend/partials/table_head_row_attrs.html" %}>
      {% include "frontend/partials/table_head_col.html" with title=_("Name") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Actions") align="right" %}
    </tr>
  </thead>

    <tbody {% include "frontend/partials/table_body_attrs.html" %}>
      {% for tag in object_list %}
      {% if tag.name != "admin" %}
        <tr {% include "frontend/partials/table_row_attrs.html" %}>
          {% include "frontend/partials/table_cell.html" with title=_("Name") content=tag.name %}
          <td {% include "frontend/partials/table_cell_attrs.html" with type="actions" %}>
            {% include "frontend/partials/table_actions_header.html" %}
            <div {% include "frontend/partials/table_responsive_attrs.html" %}>
              {% include "frontend/partials/button_icon.html" with icon="icons/pencil-alt.svg" unicorn_action="show_update"|withparam:tag.pk title=_("Edit") aria_label=_("Edit") %}
              {% include "frontend/partials/button_icon.html" with icon="icons/trash.svg" unicorn_action="delete"|withparam:tag.pk title=_("Delete") aria_label=_("Delete") %}
            </div>
            </td>
        </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
