{% load i18n %}
{% load unicorn %}
{% load frontend %}

{% if unicorn.errors %}
  {% include 'frontend/partials/error.html' %}
{% endif %}
{% include "frontend/partials/heading.html" with title=_("Edit world membership") level="h2" %}
  <form u:submit.prevent="validate_and_update" role="form" id="update_membership" aria-label={% translate "Edit world membership" %}    {% include "frontend/partials/form_attrs.html" %}>
    <div class="col-span-6 md:col-span-2"></div>
    {% filterselect_widget "tags" _("Tags search") _("Tags") %}
    <div class="py-5 grid gap-2">
      {% include "frontend/partials/form_input.html" with type="checkbox" label=_("Is Admin?") id="is_admin" unicorn_model="is_admin" %}
    </div>
    {% include "frontend/partials/form_buttons.html" %}
  </form>
