{% load frontend %}
{% load i18n %}
{% load static %}

<table aria-label="{% translate "Player list" %}" {% include "frontend/partials/table_attrs.html" %}>
  <thead>
    <tr {% include "frontend/partials/table_head_row_attrs.html" %}>
      {% include "frontend/partials/table_head_col.html" with title=_("") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Name") %}
      {% include "frontend/partials/table_head_col.html" with title=_("UUID") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Tags") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Actions") align="right" %}
    </tr>
  </thead>
  <tbody {% include "frontend/partials/table_body_attrs.html" %}>
    {% for membership in object_list %}
      <tr {% include "frontend/partials/table_row_attrs.html" %}>
        {% include "frontend/partials/table_cell.html" with is_admin=membership.is_admin is_banned=membership.bans.all  only %}
        {% include "frontend/partials/table_cell.html" with title=_("Name") content=membership.player only %}
        {% include "frontend/partials/table_cell.html" with title=_("UUID") content=membership.uuid_token only %}
        {% if membership.tags.exclude|joinnoadmin %}
         {% include "frontend/partials/table_cell.html" with title=_("Tags") content=membership.tags.exclude|joinnoadmin only %}
        {% else %}
          <td class="hidden lg:table-cell"></td>
        {% endif %}
        <td {% include "frontend/partials/table_cell_attrs.html" with type="actions" %}>
          {% include "frontend/partials/table_actions_header.html" %}
          <div {% include "frontend/partials/table_responsive_attrs.html" %}>
            {% url "players-update" membership.player.pk as player_url %}
            {% url "world-memberships" world.pk as memberships_url %}
            {% include "frontend/partials/link_button_icon.html" with icon="icons/pencil-alt.svg" href=player_url|withreferrer:memberships_url title=_("Edit player data") aria_label=_("Edit player data") %}
            {% include "frontend/partials/button_icon.html" with icon="icons/cog.svg" unicorn_action="show_update"|withstringparam:membership.pk title=_("Edit player's world membership") aria_label=_("Edit player's world membership") %}
            {% with membership_id=membership.pk|aselementid:"membership" %}
              <a href={{membership.get_world_access_url}} id={{membership_id }} class="hidden"></a>
              {% include "frontend/partials/button_icon.html" with icon="icons/link.svg" action="copyToClipboard"|withstringparam:membership_id title=_("Copy player's access link") aria_label=_("Copy player's access link to clipboard") %}
            {% endwith %}

            {% include "frontend/partials/link_button_icon.html" with icon="icons/user-ban.svg" href=bans_url|concaturlwith:"add"|withstringparam:membership.pk|withreferrer:memberships_url title=_("Ban player from world") aria_label=_("Ban player from world") %}
            {% include "frontend/partials/button_icon.html" with icon="icons/user-remove.svg" unicorn_action="delete"|withstringparam:membership.pk title=_("Remove player from world") aria_label=_("Remove player from world") %}
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_create_hidden %}
  {% url "export-world-players" world.pk as export_url %}
  {% url "import-world-players" world.pk as import_url %}
  {% url "players-create"  as player_url %}
  <div class="col-span-full flex items-center justify-end lg:justify-start gap-x-4">
    <div class="basis-32">
    {% include "frontend/partials/button.html" with type="button" label=_("Add player") aria_label=_("Add player to world") unicorn_action="toggle_create" %}
  </div>
  <div class="basis-40">
    {% url "world-memberships" world.pk as memberships_url %}
    {% include "frontend/partials/link_button.html" with href=player_url|withreferrer:memberships_url label=_("Create player") aria_label=_("Create player")  %}
  </div>
  <div class="basis-40">
    {% include "frontend/partials/link_button.html" with href=import_url label=_("Import Players") aria_label=_("Import Players")  %}
  </div>
  <div class="basis-40">
    {% include "frontend/partials/link_button.html" with href=export_url label=_("Export Players") aria_label=_("Export Players")  %}
  </div>

{% else %}
{% include "frontend/partials/heading.html" with level="h2" title=_("Select players to add") button_label="Done" button_aria_label=_("Hide player list") button_unicorn_action="toggle_create" %}
  <table aria-label="{% translate "Player list" %}" {% include "frontend/partials/table_attrs.html" %}>
    <thead>
      <tr {% include "frontend/partials/table_head_row_attrs.html" %}>
        {% include "frontend/partials/table_head_col.html" with title=_("Name") %}
        {% include "frontend/partials/table_head_col.html" with title=_("Actions") align="right" %}
      </tr>
    </thead>
    <tbody {% include "frontend/partials/table_body_attrs.html" %}>
      {% for player in addable_players %}
        <tr {% include "frontend/partials/table_row_attrs.html" %}>
          {% include "frontend/partials/table_cell.html" with title=_("Name") content=player %}
          <td {% include "frontend/partials/table_cell_attrs.html" with type="actions" %}>
            {% include "frontend/partials/table_actions_header.html" %}
            <div {% include "frontend/partials/table_responsive_attrs.html" %}>
              {% include "frontend/partials/button_icon.html" with icon="icons/arrow-up.svg" unicorn_action="create_membership"|withparam:player.pk title=_("Add to world") aria_label=_("Add player to world") %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<script type="text/javascript">
  function copyToClipboard(id) {
      let value = document.getElementById(id).href
      navigator.clipboard.writeText(value)
  }
</script>
