{% load static %}

<button
    {% if unicorn_action %}
      unicorn:click="{{ unicorn_action }}"
    {% elif action %}
      onclick="{{ action }}"
    {% endif %}
    aria-label="{{ aria_label }}"
    title="{{ title }}"
    class="border-y-2 border-purple/0 hover:border-purple focus:border-purple"
>
  <img src="{% static icon %}" aria-hidden="true" class="p-2 inline ">
  <span class="sr-only">{{ aria_label }}</span>
</button>
