{% load i18n %}
{% load unicorn %}
{% load static %}

<div {% include "frontend/partials/error_attrs.html" %}>
  {% include "frontend/partials/error_icon.html" %}
  <div {% include "frontend/partials/error_msg_attrs.html" %}>
    {% if custom_header %}
      {% translate custom_header %}:
      {% translate custom_content %}<br>
    {% else %}
      {% for field, err in unicorn.errors.items %}
        {% translate field %}:
        {% for elem in err %}
          {% translate elem.message %}<br>
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
</div>
