{% load unicorn %}
{% if not type == 'checkbox' %}
    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start pt-5 sm:pb-5">
        <label for="{{ id }}" class="block sm:mt-px sm:pt-2">{{ label }}</label>
        <div class="mt-1 sm:mt-0 sm:col-span-1">
            {% if id == "description" %}
                <textarea
                    rows="3"
            {% else %}
                    <input
                        type="{{ type|default:'text' }}"
            {% endif %}
                        {% if readonly %}
                            readonly
                        {% endif %}
                        id="{{ id }}"
                        unicorn:key = "{{ id  }}"
                        {% if unicorn_model %}
                            unicorn:model{% if not no_defer %}.defer{% endif %}{% if lazy %}.lazy{% endif %}="{{ unicorn_model }}"
                        {% endif %}
                        {% if name %}
                            name="{{ name }}"
                        {% endif %}
                        {% if oninput %}
                            oninput = "{{ oninput }}"
                            onkeydown = "{{ oninput  }}"
                        {% endif %}
                        {% if onblur %}
                            onblur = "{{ onblur  }}"
                        {% endif %}

                        {% if onchange %}
                            onchange = "{{ onchange }}"
                        {% endif %}
                        {% if no_autocomplete %}
                            autocomplete="off"
                        {% endif %}
                        class="w-full"
                    >
                    {% if id == "description" %}
                </textarea>
                    {% endif %}
                    {% if user_hint %}
                        {% include "frontend/partials/form_hint.html" with user_hint=user_hint %}
                    {% endif %}
        </div>

    </div>
{% else %}
    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start">
        <div class="sm:col-start-2 flex items-center">
            <div class="mt-1 sm:mt-0 ">
                <input id="{{ id }}"
                       type="{{ type|default:'text' }}"
                       {% if unicorn_model %}
                       unicorn:model{% if not no_defer %}.defer{% endif %}="{{ unicorn_model }}"
                       {% endif %}
                       {% if unicorn_action %}
                       unicorn:click = "{{ unicorn_action  }}"
                       {% endif %}
                       {% if onblur %}
                       onblur = "{{ onblur }}"
                       {% endif %}
                       {% if name %}
                       name="{{ name }}"
                       {% endif %}
                       class="h-4 w-4"
                >
            </div>
            <div class="ml-3 text-sm">
                <label for="{{ id }}">{{ label }}</label>
            </div>
        </div>
    </div>
{% endif %}
