{% load static %}

<a
    href="{{ href }}"
    aria-label="{{ aria_label }}"
    title="{{ title }}"
>
  <img src="{% static icon %}" aria-hidden="true" class="p-2 inline border-y-2 border-purple/0 hover:border-purple">
  <span class="sr-only">{{ aria_label }}</span>
</a>
