{% load i18n %}
{% load static %}

{% url 'worlds' as url_worlds %}
{% url 'players' as url_players %}
{% url 'tags' as url_tags %}
{% url 'character-textures' as url_ct %}

<nav id="main-menu" aria-label="{% trans "Main menu" %}"" class="hidden lg:visible bg-grey-2 lg:block w-full">
  <ul class="lg:visible flex flex-col lg:flex-row px-4 lg:px-8 py-2 lg:py-0 font-bungee text-lg lg:gap-4 w-full border-b-2 border-grey-3 lg:border-b-0">
    {% include "frontend/partials/main_menu_item.html" with url=url_worlds title=_("Worlds") %}
    {% include "frontend/partials/main_menu_item.html" with url=url_players title=_("Players") %}
    {% include "frontend/partials/main_menu_item.html" with url=url_tags title=_("Tags") %}
    {% include "frontend/partials/main_menu_item.html" with url=url_ct title=_("Character textures") %}
  </ul>
  <ul class="not-sr-only lg:hidden flex flex-col lg:flex-row px-4 py-2 font-bungee text-purple text-lg lg:gap-4 w-full border-b border-grey-3 lg:border-b-0">
    {% include "frontend/partials/menu_extra.html" with is_mobile=True %}
  </ul>
</nav>

{# Global javascript #}
<script>
  function menuToggle() {
    var menu = document.getElementById('main-menu')
    menu.classList.toggle('hidden')
  }

  var menu_btn = document.getElementById('mobile_toggle')
  if (menu_btn) {
    menu_btn.onclick= menuToggle
  }
</script>
