{% load frontend %}
{% load i18n %}

<table aria-label="{% translate "Room list" %}" {% include "frontend/partials/table_attrs.html" %}>

  <thead>
    <tr {% include "frontend/partials/table_head_row_attrs.html" %}>
      {% include "frontend/partials/table_head_col.html" with title=_("") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Name") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Policy") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Tags") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Actions") align="right" %}
    </tr>
  </thead>

  <tbody {% include "frontend/partials/table_body_attrs.html" %}>
    {% for room in rooms %}
      <tr {% include "frontend/partials/table_row_attrs.html" %}>
        {% include "frontend/partials/table_cell.html" with is_entry_room=room.is_entry_room is_deactivated=room.is_deactivated only %}
        {% include "frontend/partials/table_cell.html" with title=_("Name") content=room.name only %}
        {% include "frontend/partials/table_cell.html" with title=_("Policy") content=room.get_policy_type_display only %}
        {% if room.tags.all %}
          {% include "frontend/partials/table_cell.html" with title=_("Tags") content=room.tags.all|join:", " only %}
        {% else %}
          <td class="hidden lg:table-cell"></td>
        {% endif %}

        <td {% include "frontend/partials/table_cell_attrs.html" with type="actions" %}>
          {% include "frontend/partials/table_actions_header.html" %}
          <div {% include "frontend/partials/table_responsive_attrs.html" %}>
            {% include "frontend/partials/button_icon.html" with icon="icons/pencil-alt.svg" unicorn_action="show_update"|withparam:room.pk title=_("Edit") aria_label=_("Edit") %}
            {% include "frontend/partials/button_icon.html" with icon="icons/trash.svg" unicorn_action="delete"|withparam:room.pk title=_("Delete") aria_label=_("Delete") %}
          </div>
          </td>
      </tr>
    {% endfor %}
  </tbody>

</table>
