<td {% include "frontend/partials/table_cell_attrs.html" %}>
  {% if content %}
    {% if href %}
      <a href="{{ href }}"> {{ content }}</a>
    {% else %}
      <div class="visible lg:hidden w-24 md:w-40 lg:w-auto">{{ title }}:&nbsp;</div><div {% include "frontend/partials/table_responsive_attrs.html" %}>{{ content }}</div>
    {% endif %}
  {% else %}
    {% if is_entry_room %}
      {% include "frontend/partials/list_icon.html" with icon="icons/home.svg" title=_("Entry Room") aria_label=_("Entry Room") color="orange" %}
    {% endif %}
    {% if is_deactivated %}
      {% include "frontend/partials/list_icon.html" with icon="icons/x-circle.svg" title=_("Deactivated") aria_label=_("Deactivated") color="grey-3" %}
    {% endif %}
    {% if is_admin %}
      {% if not is_banned %}
        {% include "frontend/partials/list_icon.html" with icon="icons/star.svg" title=_("Admin") aria_label=_("Admin") color="orange" %}
      {% endif %}
    {% endif %}
    {% if is_banned %}
      {% include "frontend/partials/list_icon.html" with icon="icons/banned.svg" title=_("Banned") aria_label=_("Banned") color="red-light" %}
    {% endif %}
    {% if is_open_for_all_room %}
      {% include "frontend/partials/list_icon.html" with icon="icons/inactive-warning.svg" title=_("Ban ineffective due to room access policy") aria_label=_("Ban ineffective due to room access policy") color="red-light" %}
    {% endif %}
  {% endif %}
</td>
