{% extends "frontend/base.html" %}
{% load i18n %}

{% block content %}
{% include "frontend/partials/heading.html" with title=_("About") %}
<div class="lg:mt-12 my-6 px-8 py-4 bg-white text-grey-5 border-purple border-2 offset-purple-static">
  <p class="py-2">
  {% blocktranslate trimmed %}
    WA-Backstage is a web-based management interface for the self-hosted installation of
   the community fork of  <a href="cl">WorkAdventure (XCE)</a>.
    Find more information on the project at <a href="https://wa-backstage.org/" target="_blank">wa-backstage.org</a>.
  {% endblocktranslate %}
  </p>
  <p class="py-2">
    {% blocktranslate trimmed %}
      WA-Backstage is Free Software licensed under the
      <a href="https://www.tldrlegal.com/l/agpl3" target="_blank">GNU Affero General Public License v3.0</a>.
      The source code can be found at <a href="https://gitlab.com/wa-admin-panel/wa-admin-panel-backend" target="_blank">
        https://gitlab.com/wa-admin-panel/wa-admin-panel-backend
      </a>
    {% endblocktranslate %}
  </p>
  <p class="py-2">
    {% blocktranslate trimmed %}
      Current version: {{ version }}
    {% endblocktranslate %}
  </p>
</div>
{% include "frontend/partials/heading.html" with title=_("Credits") %}
<div class="lg:mt-12 my-6 px-8 py-4 bg-white text-grey-5 border-purple border-2 offset-purple-static">
  <p class="py-2" >
    {% blocktranslate trimmed %}
      WA-Backstage has been initially funded by
      <a href="https://www.deutsche-stiftung-engagement-und-ehrenamt.de/" target="_blank">
        Deutsche Stiftung für Ehrenamt und Engagement (DSEE)</a>.
    {% endblocktranslate %}
  </p>
</div>
{% endblock %}
