{% load i18n %}
{% load static %}
{% load tailwind_tags %}

<html lang="{% trans "en" %}">
  <head>
    {% block head_extra %}
    {% endblock %}
    {% tailwind_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <title>{% block title %}WA Backstage{% endblock %}</title>
  </head>
  <body class="bg-grey-1">
    <header>
      <div class="relative border-b-2 border-grey-1 ">
        <div class="flex flex-row items-center bg-green mx-auto">
          <div class="w-full p-4 lg:px-8">
            <a href=""><img src="{% static 'images/logo.svg' %}" class="h-8" ><span class="sr-only">Homepage</span></a>
          </div>
          <div class="flex flex-row gap-4 m-4 lg:mx-8">
            {% include "frontend/partials/menu_extra.html" with is_mobile=False %}
          </div>
          <div class="not-sr-only visible lg:hidden z-10 text-grey-1">
            <a id="mobile_toggle" href="#" class="text-xl font-bold p-4 logo" >&#9776;</a>
          </div>
        </div>
      </div>
    {% include 'frontend/partials/main_menu.html' %}
    </header>
    <main class="max-w-7xl bg-grey-1 px-4 lg:px-16 mx-auto">
        {% block content %}
        {% endblock %}
    </main>
  </body>
</html>
