{% extends "frontend/component.html" %}

{% load i18n %}
{% load static %}
{% load unicorn %}

{% block content %}
  {% url "worlds-update" world.pk as worlds_update_url %}
  {% include "frontend/partials/heading.html" with title=world.name button_label=_("Edit world") button_aria_label=_("Edit world") button_href=worlds_update_url %}

  <div class="flex flex-wrap items-start py-6 gap-x-4 gap-y-3 border-b-2 border-grey-3">
    <div class="flex items-center">
      <img src="{% static "icons/view-grid.svg" %}" aria-hidden="true" class="pr-2 inline">
      <span class="inline text-xs text-grey-5">{{ world.rooms.all|length  }} Room{% if world.rooms.all|length > 1 %}s{% endif %}</span>
    </div>
    <div class="flex items-center">
      <img src="{% static "icons/user-group.svg" %}" aria-hidden="true" class="pr-2 inline">
      <span class="inline text-xs text-grey-5">{{ world.memberships.exclude_anonymous|length  }} Member{% if world.memberships.exclude_anonymous|length > 1 %}s{% endif %}</span>
    </div>
    <div class="flex items-center">
      <img src="{% static "icons/globe-grey.svg" %}" aria-hidden="true" class="pr-2 inline">
      <a href="{{ world.url }}" target="_blank" class="inline text-xs text-grey-5">{{ world.url }}</a>
    </div>
    <div class="flex items-center">
      <img src="{% static "icons/document-text.svg" %}" aria-hidden="true" class="pr-2 inline self-center">
      <span href="world.url" class="inline text-xs text-grey-5">{{ world.description  }}</span>
    </div>
  </div>


  <nav {% include "frontend/partials/tab_attrs.html" %}>
    {% url "world-index" world.pk as world_index_url %}
    {% url "rooms" world.pk as rooms_url %}
    {% url "world-memberships" world.pk as worlds_url %}
    {% url "character-textures" world.pk as character_textures_url %}
    {% include "frontend/partials/tab.html" with link_url=rooms_url tab_label=_("Rooms") tab_aria_label=_("Rooms") %}
    {% include "frontend/partials/tab.html" with link_url=worlds_url tab_label=_("Members") tab_aria_label=_("Members") %}
    {% include "frontend/partials/tab.html" with link_url=character_textures_url tab_label=_("Character Textures") tab_aria_label=_("Character Textures") %}
    {% url "bans" world.pk as bans_url %}
    {% include "frontend/partials/tab.html" with link_url=bans_url tab_label=_("Bans") tab_aria_label=_("Bans") %}
  </nav>
  {% csrf_token %}
  {% unicorn component_name world=world %}
{% endblock %}
