{% extends "frontend/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
  {% csrf_token %}

    {% include "frontend/partials/heading.html" with title=_("Player Import") %}
    <div class="mt-20">
      <p>{% translate "Download a sample file:" %}</p>
      <a href="{% static "files/Sample.csv" %}" {% include "frontend/partials/link_attrs.html" %}>Sample.csv</a>
    </div>

    {% if form.errors %}
      <div class="mt-20">
        <div {% include "frontend/partials/error_attrs.html" %}>
          {% include "frontend/partials/error_icon.html" %}
          <div {% include "frontend/partials/error_msg_attrs.html" %}>
            {{ form.non_field_errors }}
            {{ form.file.errors }}
          </div>
        </div>
      </div>
    {% endif %}

    <div class="mt-20">
      <form method="post" enctype="multipart/form-data" id="import_players"
            aria-label="{% translate "Import players from file" %}"
            {% include "frontend/partials/form_attrs.html" %}>
        {% csrf_token %}
        {% include "frontend/partials/form_input.html" with type="file" label=_("CSV file") id="file" name="file" %}
        {% include "frontend/partials/form_buttons.html" with submit_label=_("Import") cancel_href=view.get_success_url %}
      </form>
    </div>
{% endblock %}
