{% load i18n %}
{% load static %}
{% load tailwind_tags %}

<html lang="{% trans "en" %}">
    <head>
    {% tailwind_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <title>WA Backstage</title>
    </head>
    <body class="max-w-7xl bg-grey-3 m-auto w-full lg:w-1/2 p-4 flex flex-col justify-center items-center h-screen">
      {% block content %}
      {% endblock %}
    </body>
<html>
